---
parameters:
  prefix: "{{prefix}}"
  domain_name: "{{ domain_name }}"
  bastion_image: "{{ bastion_image }}"
  bastion_keypair_name: "{{ bastion_keypair }}"
  bastion_ssh_user: "{{ bastion_ssh_user | default(fedora) }}"
  awx_image: "{{ awx_image }}"
  awx_keypair_name: "{{ awx_keypair }}"
  awx_ssh_user: "{{ awx_ssh_user | default(fedora) }}"
  awx_config_repo: "{{ awx_config_repo }}"
  common_role_name: "{{ common_role_name }}"

resource_registry:
  "Heat::OTC::VPC": "https://github.com/opentelekomcloud-infra/heat-templates/common/vpc.yaml"
  "Heat::OTC::Server": "https://github.com/opentelekomcloud-infra/heat-templates/common/server.yaml"
